<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/inicio.css">
        <script src="../javascript/inicio.js"></script>
        <!-- 
            Titulo en la pestaña del navegador
        -->
    </head>
    <body onload="iniciar()">
        
        <!-- Titulo del body-->
        <h1>¿Cuál es REAL?</h1>
        <!--
            Parte que dedicamos alas imágenes y que posteriormente lo ajustamos con el identificativo "imagen"
            para modificarlo con el css

            src nos indica la url donde se cuenta las imagenes.
        -->
        <div class="contenedor">
            <div class="imagenes">
                <div class="imagen" id ="1" onclick="comprobacion(this.id)"></div>
                
                <div class="imagen" id ="2" onclick="comprobacion(this.id)"></div>
            </div>
            <p id ="aciertos"></p>
            <input class="boton" type="button" value="¿Necesitas AYUDA?" onclick="location.href='/public/ayuda.html';">
        </div>

        <!--
            Hacemos alusión a la etiqueta footer que se encarga del pie de la página
            <a> Enlace a un link externo

        -->
        <footer class="pie">
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
                <img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" />
            </a>
            <br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">Licencia Creative Commons Atribución-NoComercial-SinDerivadas 4.0 Internacional</a>
        </footer>

        
    </body>
</html>