* {
    background-color: #1E243D;
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 241, 237);
}

.navegador{
    padding-top: 30px;
    margin-left: 11%;
    margin-right: 11%;
    margin-bottom: 4%;
    font-size: medium;
}

a{
    color: steelblue;
    text-decoration: none;
}

a:visited {
    color: #B28DF4;
}


#referencias{
    border: solid rgb(59, 59, 59) 2px;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

h3 {
    padding-top: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin-left: -14.2%;
    position: fixed;
    z-index: 100;
}

li {
    list-style-type: disc;
}

.imgWrapper{
    font-size: 0;
    text-align: center;
}

.imgWrapper .pruebas {
    display: inline-block;
    font-size: inherit;
    width: 25%;
    max-width: 345px;
}

.pruebas img {
    height: auto;
    width: 100%;
}