*{
    background-color: rgb(32, 32, 32);
    font-family: 'Roboto', sans-serif;
    color: rgb(241, 241, 237);
}

.navegador{
    padding-top: 30px;
    margin-left: 14%;
    margin-right: 14%;
    margin-bottom: 4%;
    font-size: medium;
}

a{
    color: steelblue;
    text-decoration: none;
}

a:visited {
    color: rgb(137, 125, 214);
}


#referencias{
    border: solid rgb(59, 59, 59) 2px;
    border-radius: 10px;
    padding: 20px;
}

h3{
    padding-top: 10px;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: beige;
    margin-left: -14.2%;
    position: fixed;
    z-index: 100;
}



