.imagen1{
    width: 350;
    height: 400;
}

.imagen2{
    width: 200;
    height: 600;
}

.imagen3{
    width: 300;
    height: 500;
}

.imagen4{
    width: 400;
    height: 400;
}

.imagen5{
    width: 350;
    height: 500;
}

.imagen6{
    width: 200;
    height: 200;
}   

.noticias{
    display: flex;
    flex-direction: row;
}